<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>qxgl</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>LoginAction</servlet-name>
  	<servlet-class>com.xiudun.action.LoginAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FindAllAction</servlet-name>
  	<servlet-class>com.xiudun.action.FindAllAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ImportAction</servlet-name>
  	<servlet-class>com.xiudun.action.ImportAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExportAction</servlet-name>
  	<servlet-class>com.xiudun.action.ExportAction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginAction</servlet-name>
  	<url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SaveAction</servlet-name>
  	<servlet-class>com.xiudun.action.SaveAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveUserAction</servlet-name>
  	<servlet-class>com.xiudun.action.RemoveUserAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveUsersAction</servlet-name>
  	<servlet-class>com.xiudun.action.RemoveUsersAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SelectOneAction</servlet-name>
  	<servlet-class>com.xiudun.action.SelectOneAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateUserAction</servlet-name>
  	<servlet-class>com.xiudun.action.UpdateUserAction</servlet-class>
  </servlet>
  <filter>
  	<filter-name>EncodingFilter</filter-name>
  	<filter-class>com.xiudun.util.EncodingFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>LoginFilter</filter-name>
  	<filter-class>com.xiudun.util.LoginFilter</filter-class>
  </filter>
  <servlet-mapping>
  	<servlet-name>FindAllAction</servlet-name>
  	<url-pattern>/findAll.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ImportAction</servlet-name>
  	<url-pattern>/import.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExportAction</servlet-name>
  	<url-pattern>/export.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveAction</servlet-name>
  	<url-pattern>/save.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveUserAction</servlet-name>
  	<url-pattern>/removeUser.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveUsersAction</servlet-name>
  	<url-pattern>/removeUsers.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SelectOneAction</servlet-name>
  	<url-pattern>/selectOne.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateUserAction</servlet-name>
  	<url-pattern>/updateUser.do</url-pattern>
  </servlet-mapping>
  <filter-mapping>
  	<filter-name>EncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<url-pattern>*.do</url-pattern>
  	<url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>mvc</filter-name>
  	<filter-class>org.xiudun.mvc.PrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>mvc</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
</web-app>

















